# My Jupyter Notebook on IBM Watson Studio

Name: __Ana Guerreiro__

Occupation: Data Analyst

_I am interested in data science because after finished my degree and started to work as Data Analyst, I concluded that it's a really interesting area of studies which will grow up during the next years._

### In cell 5, my code is supposed to execute a simple sum.

In [2]:
print (1+1)

2

In [3]:
- celula - corpo - pele -

SyntaxError: invalid syntax (4272919546.py, line 1)

In [4]:
pip install tabulate

Requirement already satisfied: tabulate in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (0.8.10)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from tabulate import tabulate

In [7]:
table = [['Country', 'City', 'Continent'], 
         ['Portugal', 'Lisboa', 'Europa'], 
         ['EUA', 'New York', 'America Norte'], 
         ['Japan', 'Tokyo', 'Asia']]

In [8]:
print(tabulate(table))

--------  --------  -------------
Country   City      Continent
Portugal  Lisboa    Europa
EUA       New York  America Norte
Japan     Tokyo     Asia
--------  --------  -------------

* Python

In [12]:
vel = 100
g = 9.81
t = 0.8
PosicaoV= vel*t -0.5*g*t**2
print (PosicaoV)

76.8608